.bars-loader {
  padding: 30px 0;
  
  .row {
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }
  }

  .btn {
    margin: 0 4px 4px 0;
  }

  .progress {
    height: 50px;
    margin: 0 0 10px;

    &:last-child {
      margin: 0;
    }
  }
}
